@import url("https://fonts.googleapis.com/css2?family=Inter");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600");
body{
  font-family: 'Inter', sans-serif;
}
.loader-fh{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.lds-dual-ring {
  display: inline-block;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #002f61;
  border-color: #002f61 transparent #002f61 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.adminContainer{
  width: 100%;
  height: 100vh;
  background-image: url("./morph2.jpg");
  background:linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("./morph2.jpg");
  background-size: cover;
  /*Optional*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.adminBox{
  width: 90vw;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 25px;
  display: grid;
  grid-template-columns: 80px 350px calc(100% - 430px);
}
.panel{
  background-color: #fff;
  border-radius: 25px 0px 0px 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.panel img{
  width: 100%;
}
.panel ul{
  list-style-type: none;
  width: 100%;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  color: #aaa;
  font-size: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  cursor: pointer;
}
.panel ul .panel-icon{
  padding: 8px;
  transition: 0.2s ease-in-out;
}
.panel ul .panel-icon:hover{
  color: #007dff;
  transition: 0.2s ease-in-out;
}
.panel button{
  width: 100%;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  color: #aaa;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.panel button:hover{
  color: #d41313;
  transition: 0.2s ease-in-out;
}
.options{
  background-color: #ffffff80;
}
.chat{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{  
  font-family: 'Inter', sans-serif;
  background-color: #eee;
  border: none;
  padding: 4px 15px 6px;
  border-radius: 15px;
  font-size: 16px;
  margin: 0px 2px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn-sm{
  border: none; 
  padding: 2px 5px 0px;
  border-radius: 10px;
  cursor: pointer;
}
.inputr{
  font-family: 'Inter', sans-serif;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  width: 80%;
  padding: 3px 8px;
  border: solid 1px #ccc;
}
.btn:hover{
  transform: scale(1.03);
  box-shadow: 3px 3px 5px 0px #00000020;
  transition: 0.2s ease-in-out;
}
.btn-primary{
  background-color: #007dff;
  color: #fff;
}
.btn-danger{
  background-color: #c51f1f;
  color: #fff;
}

/* Contacts Css */
.contacts{
  display: flex;
  flex-direction: column;
}
.contacts .contact{
  transition: 0.3s ease-in-out;
  display: grid;
  padding: 10px;
  grid-template-columns: 45px calc(100% - 105px) 60px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #eee;
  cursor: pointer;
}
.contacts .contact.selected{
  transition: 0.3s ease-in-out;
  background-color: #007dff;
}
.contacts .contact.selected .username b{
  color: #fff;
}
.contacts .contact.selected .username span{
  color: #eee;
}
.contacts .contact .profilepic{
  background-color: #e4f7ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 45px;
  border-radius: 45px;
  font-size: 14px;
  color: #444;
}
.contacts .contact .username{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45px;
  padding-left: 5px;
}
.contacts .contact .username b{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}
.contacts .contact .username span{
  font-size: 13px;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}
.contacts .contact .chattime{
  font-size: 10px;
  text-align: right;
  line-height: 45px;
}
.contacts .contact.selected .chattime{
  color: #ffff;
}
/* End Contacts Css */

.modalContactDetails{
  display: none;
}
.chat_contact{
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  max-height: 90vh;
  height: 100%;
}
.chat_contact .contactDetails{
  background-color: #ffffff80;
  border-radius: 0px 25px 25px 0px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chat_contact .contactDetails .avatar{
  width: 60px;
  height: 60px;
  line-height: 57px;
  border-radius: 60px;
  background-color: #007dff;
  text-align: center;
  font-size: 24px;
  color: #fff;
}
@media only screen and (max-width:1600px) {
  .chat_contact{
    grid-template-columns: 60% 40%;
  }
}
@media only screen and (max-width:1200px) {
  .chat_contact{
    grid-template-columns: 100%;
  }
  .chat_contact .contactDetails{
    display: none;
  }
  .modalContactDetails{
    display: initial;
  }
}
/* Chat Container CSS */
.chatContainerAdmin{
  width: 100%;
  max-height: 90vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.adminContainer .chat-header{
  display: grid;
  grid-template-columns: 40px calc(100% - 100px) 40px;
  height: 40px;
  gap: 10px;
  padding: 10px 10px;
}
.adminContainer .chat-header .avatar{
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #007dff;
  color: #fff;
  border-radius: 40px;
}
.adminContainer .chat-header .username{
  line-height: 40px;
}
.adminContainer .chat-header button{
  cursor: pointer;
  background-color: transparent;
  color: #444;
  font-size: 20px;
  border: none;
}
.chatContainerAdmin .chat-input{
  height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
}
.chatContainerAdmin .chat-input .addToMsg{
  position: absolute;
  display: none;
  flex-direction: column;
  height: 70px;
  top: -90px;
  background-color: #007dff;
  gap: 5px;
  padding: 5px;
  border-radius: 10px;
  transition: transform 0.3s ease-in;
}
.chatContainerAdmin .chat-input .addToMsg button{
  opacity: 0.9;
  transition: 0.2s ease-in-out;
}
.chatContainerAdmin .chat-input .addToMsg button:hover{
  transform: scale(1.1);
  opacity: 1;
  transition: 0.2s ease-in-out;
}
.chatContainerAdmin .chat-input .emoji:first-child{
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #888;
  height: 40px;
  border-radius: 40px;
  width: 42px;
}
.chatContainerAdmin .chat-input .emoji button{
  cursor: pointer;
}
.chatContainerAdmin .chat-input form{
  width: 100%;
  display: grid;
  grid-template-columns: calc(100% - 60px) 60px;
}
.chatContainerAdmin .chat-input form input{
  outline: none;
  border: solid 2px #ddd;
  background-color: #ffffffdd;
  font-size: 16px;
  padding: 8px;
  border-radius: 10px;
  color: #666;
}
.chatContainerAdmin .chat-input form button{
  border: none;
  background-color: transparent;
  color: #007dff;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* chat admin */
.chatContainerAdmin .chat-messages.admin {
  max-height: calc(100% - 60px);
  overflow: auto;
  display: flex;
  padding: 0px 10px;
}
.chatContainerAdmin .chat-messages.admin::-webkit-scrollbar {
  width: 0.2rem;
}
.chatContainerAdmin .chat-messages.admin::-webkit-scrollbar-thumb {
  background-color: #007dff;
  width: 0.1rem;
  border-radius: 1rem;
}
.chat-messages.admin .chat-admin{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.chat-messages.admin .chat-admin .message .content {
  box-shadow: 2px 5px 5px 0px #00000008;
}
.chat-messages.admin .chat-admin .message.recieved .content {
  background-color: #ffffff;
}
.addImage{
  position: absolute;
  background-color: #ffffffee;
  min-height: 100%;
  transform: scale(0.9);
  border-radius: 20px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 15px 0px #00000015;
  gap: 10px;
  width: 50%;
}
.addImage img{
  width: 80%;
  height: auto;
}
@media only screen and (max-width:1000px){
  .adminBox{
    grid-template-columns: 60px 250px calc(100% - 310px);
  }
}
@media only screen and (max-width:700px){
  .adminBox{
    display: flex !important;
    flex-direction: column !important;
    border-radius: 15px !important;
    height: 95vh !important;
  }
  .panel{
    display: flex !important;
    flex-direction: row !important;
    padding: 2px  10px!important;
    border-radius: 15px 15px 0px 0px !important;
    height: 60px;
  }
  .panel .headerPanel{
    width: 100%;
  }
  .panel ul{
    display: inline-block !important;
  }  
  .panel ul li {
    float: left;
  }
  .panel img{
    width: 60px !important;
  }
  .contacts{
    display: flex;
    flex-direction: row;
    overflow: auto;
  }
  .contacts::-webkit-scrollbar {
    height: 8px;
  }
  .contacts::-webkit-scrollbar-thumb {
    background-color: #007dff50;
  }
  .options{
    height: 90px;
  }
  .contact{
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    flex-direction: column;
    height: 60px;
    min-width: 70px;
  }
  .contact .profilepic{
    height: 40px !important;
    width: 40px !important;
  }
  .contact .username{
    padding: 0 !important;
  }
  .contact .username span{
    display: none;
  }
  .contact .chattime{
    line-height: 12px !important;
  }
  .adminBox .chat .chat_contact .chatContainerAdmin{
    min-height: calc(95vh - 150px);
    max-height: calc(95vh - 150px);
  }
  .emoji .emoji-picker-react{
    left: 0;
    box-shadow: none;
  }
}