.chatContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.chatBox{
  max-width: 500px;
  width: 100%;
  max-height: 90vh;
  height: 100%;
  border-radius: 25px;
  box-shadow: 0px 5px 15px 5px #00000010;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chatHeader, .chatFooter{
  height: 60px;
  background-color: #007dff;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.chatBody{
  height: 100%;
  overflow: hidden;
}
.chatHeader{
  border-radius: 15px 15px 0px 0px;
}
.chatHeader .iconChat{
  width: 60px;
  text-align: center;
  padding: 0px 5px;
}
.chatHeader img{
  width: 70%;
  margin-top: 5%;
}
.chatHeader h3{
  font-weight: 600;
}
.chatFooter{
  border-radius: 0px 0px 15px 15px;
}
.chatBox .addToMsg{
  position: absolute;
  display: none;
  flex-direction: column;
  height: 70px;
  top: -100px;
  left: 5px;
  background-color: #007dff;
  gap: 5px;
  padding: 5px;
  border-radius: 10px;
  transition: transform 0.3s ease-in;
}
.chatBox .addToMsg button{
  opacity: 0.9;
  transition: 0.2s ease-in-out;
}
.chatBox .addToMsg button:hover{
  transform: scale(1.1);
  opacity: 1;
  transition: 0.2s ease-in-out;
}
.addImageChatUser{
  position: absolute;
  background-color: #ffffffee;
  min-height: 80%;
  transform: scale(0.9);
  border-radius: 20px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 15px 0px #00000015;
  gap: 10px;
  max-width: 350px;
  width: 100%;
  z-index: 9;
}
.addImageChatUser img{
  width: 80%;
  height: auto;
}
.emoji{
  position: relative;
  width: 50px;
}
.emoji button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
.emoji .emoji-picker-react{
  position: absolute;
  top: -350px;
  z-index: 9;
  margin-left: 10px;
}
.chatFooter form{
  width: calc(100% - 50px);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 0px;
  gap: 5px;
}
.chatFooter form input {
  width: 90%;
  background-color: transparent;
  color: #eeeeee;
  border: solid 2px #ffffff50;
  border-radius: 25px;
  padding: 8px 15px;
  font-size: 1rem;
  outline: none;
}
.chatFooter form input::placeholder {
  color: #dddddd;
}
.chatFooter form input:focus{
  border: solid 2px #ddd;
}
.chatFooter form button {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #ffffff;
  border: none;
  font-size: 2rem;
  width: 10%;
  cursor: pointer;
}
.msgs{
  height: 100%;
}
.chatBody .registerChat {
  height: 100%;
  display: flex;
  justify-content: center;
}
.chatBody .registerChat h4{
  font-weight: 400;
  margin-bottom: 5px;
  text-align: center;
}
.chatBody .registerChat form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.chatBody .registerChat form input{
  border-radius: 12px;
  font-size: 16px;
  padding: 5px 10px;
  outline: none;
  border: solid #aaa 1px;
}
.chatBody .registerChat form button{
  border-radius: 12px;
  font-size: 16px;
  padding: 5px 10px;
  outline: none;
  border: solid #007dff 1px;
  background-color: #007dff;
  color: #ffffff;
  font-weight: 600;
}
/* menor a 600 */
@media only screen and (max-width: 600px) {
  .chatContainer{
    display: block;
    height: 100vh;
    background-color: #007dff;
  }
  .chatBox{
    background-color: #ffffff;
    max-width: auto;
    max-height: 99.9vh;
    height: 100%;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    display: flex;
  }
  .chatHeader, .chatFooter{
    border-radius: 0px;
  }
  .chatFooter form input {
    width: 87%;
  }
  .chatFooter form button {
    width: 13%;
  }
}
.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: auto;
  padding: 10px 10px;
  height: calc(100% - 20px);
}
.chat-messages .message {
  display: flex;
  align-items: center;
}
.chat-messages .message .content {
  max-width: 72%;
  overflow-wrap: break-word;
  padding: 7px 15px;
  border-radius: 1rem;
}
.chat-messages .message.sended {
  justify-content: flex-end;
}
.chat-messages .message.sended .content {
  background-color: #007dff;
  color: #fff;
  text-align: right;
}
.chat-messages .message.sended .content small{
  font-size: 10px;
  color: #eee;
  margin-left: 3px;
}
.chat-messages .message.recieved {
  justify-content: flex-start;
}  
.chat-messages .message.recieved .content {
  background-color: #eee;
  color: #444;
  text-align: left;
}
.chat-messages .message.recieved .content small{
  font-size: 10px;
  color: #888;
  margin-left: 3px;
}
